In [9]:
1:6

[1] 1 2 3 4 5 6

In [10]:
6:1

[1] 6 5 4 3 2 1

In [11]:
test_matrix = matrix(c(1,2,3,4,5,6,7,8,9,10,11,12), nrow = 3)

In [14]:
test_matrix[c(1,2,3), c(2,3)]

     [,1] [,2]
[1,] 4    7
[2,] 5    8
[3,] 6    9

In [15]:
test_matrix[c(1:3), c(2:3)]

     [,1] [,2]
[1,] 4    7
[2,] 5    8
[3,] 6    9

In [16]:
test_matrix = matrix(1:6 , ncol = 3)

In [17]:
test_matrix

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

In [18]:
rownames(test_matrix) = c("HIMB", "Paiko")

In [19]:
test_matrix

      [,1] [,2] [,3]
HIMB  1    3    5
Paiko 2    4    6

In [20]:
test_matrix["HIMB", 2]

HIMB
   3

In [22]:
colnames(test_matrix) = c("Burk", "ecoli", "vibrio")

In [23]:
test_matrix

      Burk ecoli vibrio
HIMB  1    3     5
Paiko 2    4     6

In [24]:
test_matrix["HIMB", "ecoli"]

[1] 3

In [25]:
test_matrix[1, 2]

[1] 3

In [26]:
col_1 = c(1, 2)

col_2 = c(3, 4)

col_3 = c(3, 5)

In [27]:
my_col_matrix <- cbind(col_1, col_2, col_3)

In [28]:
my_col_matrix

     col_1 col_2 col_3
[1,] 1     3     3
[2,] 2     4     5

In [29]:
row_1 = c(1, 2, 3)

row_2 = c(4, 5, 6)

In [30]:
my_row_matrix <- rbind(row_1, row_2)

In [31]:
my_row_matrix

      [,1] [,2] [,3]
row_1 1    2    3
row_2 4    5    6

In [33]:
some_matrix

     [,1] [,2]
[1,] 1    4
[2,] 2    5
[3,] 3    6