### Introduction to PyArrow

* PyArrow is a cross-language development platform for in-memory data.
* It serves as a foundation for building high-performance analytics applications.
* Developed as a part of the Apache Arrow project, it aims to improve data interoperability.
* In-memory Columnar Data Representation: Efficiently represents complex data structures in a memory-optimized way.
* Zero-Copy Reads: Enables rapid data sharing between Python and other languages without serialization overhead.
* Schema and Metadata Support: Enables rich, self-describing data structures.

### PyArrow and Parquet

* PyArrow can read and write Parquet files efficiently and seamlessly/
* Column Pruning: Reads only the necessary columns from a Parquet file, reducing I/O.
```python
import pyarrow.parquet as pq
table = pq.read_table('your_file.parquet', columns=['column1', 'column2'])
df = table.to_pandas()
```
* Row Group Filtering: Allows selective reading of row groups based on conditions, optimizing data retrieval.
  * Only read the groups in parquet file for which date is in range

### Apache Arrow

```A critical component of Apache Arrow is its in-memory columnar format, a standardized, language-agnostic specification for representing structured, table-like datasets in-memory. This data format has a rich data type system (including nested and user-defined data types) designed to support the needs of analytic database systems, data frame libraries, and more.```


                  Apache arrow Project

<div align="center">
<img src="https://blog.djnavarro.net/posts/2021-11-19_starting-apache-arrow-in-r/img/with_arrow.jpg" width=700>
</div>
[picture source](https://blog.djnavarro.net/posts/2021-11-19_starting-apache-arrow-in-r/)

In [4]:
# !pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-9.0.0-cp38-cp38-macosx_11_0_arm64.whl (21.6 MB)
     |████████████████████████████████| 21.6 MB 3.3 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.16.6 in /Users/mahdi/miniconda3/envs/s3-next/lib/python3.8/site-packages (from pyarrow) (1.23.0)
Installing collected packages: pyarrow
Successfully installed pyarrow-9.0.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
#!wget -P https://d37ci6vzurychx.cloudfront.net/trip-data/fhvhv_tripdata_2022-06.parquet

In [2]:
import pyarrow.parquet as pq

# Read the entire Parquet file into a PyArrow Table
table = pq.read_table('/Users/mahdi/Downloads/fhvhv_tripdata_2022-06.parquet')
table

pyarrow.Table
hvfhs_license_num: string
dispatching_base_num: string
originating_base_num: string
request_datetime: timestamp[us]
on_scene_datetime: timestamp[us]
pickup_datetime: timestamp[us]
dropoff_datetime: timestamp[us]
PULocationID: int64
DOLocationID: int64
trip_miles: double
trip_time: int64
base_passenger_fare: double
tolls: double
bcf: double
sales_tax: double
congestion_surcharge: double
airport_fee: double
tips: double
driver_pay: double
shared_request_flag: string
shared_match_flag: string
access_a_ride_flag: string
wav_request_flag: string
wav_match_flag: string
----
hvfhs_license_num: [["HV0003","HV0003","HV0003","HV0003","HV0005",...,"HV0005","HV0003","HV0005","HV0005","HV0005"],["HV0003","HV0005","HV0003","HV0003","HV0003",...,"HV0003","HV0003","HV0003","HV0003","HV0003"],...,["HV0005","HV0005","HV0005","HV0003","HV0003",...,"HV0003","HV0003","HV0003","HV0003","HV0003"],["HV0003","HV0005","HV0003","HV0003","HV0003",...,"HV0003","HV0003","HV0003","HV0003","HV0005"]]
dispatching_base_num: [["B03404","B03404","B03404","B03404","B03406",...,"B03406","B03404","B03406","B03406","B03406"],["B03404","B03406","B03404","B03404","B03404",...,"B03404","B03404","B03404","B03404","B03404"],...,["B03406","B03406","B03406","B03404","B03404",...,"B03404","B03404","B03404","B03404","B03404"],["B03404","B03406","B03404","B03404","B03404",...,"B03404","B03404","B03404","B03404","B03406"]]
originating_base_num: [["B03404","B03404","B03404","B03404",null,...,null,"B03404",null,null,null],["B03404",null,"B03404","B03404","B03404",...,"B03404","B03404","B03404","B03404","B03404"],...,[null,null,null,"B03404","B03404",...,"B03404","B03404","B03404","B03404","B03404"],["B03404",null,"B03404","B03404","B03404",...,"B03404","B03404","B03404","B03404",null]]
request_datetime: [[2022-06-01 00:15:35.000000,2022-06-01 00:39:04.000000,2022-06-01 00:27:53.000000,2022-06-01 00:48:15.000000,2022-06-01 00:04:51.000000,...,2022-06-01 09:27:01.000000,2022-06-01 09:10:29.000000,2022-06-01 08:51:09.000000,2022-06-01 09:14:34.000000,2022-06-01 09:39:53.000000],[2022-06-01 09:15:07.000000,2022-06-01 09:37:37.000000,2022-06-01 09:17:57.000000,2022-06-01 09:02:01.000000,2022-06-01 09:22:55.000000,...,2022-06-01 14:33:14.000000,2022-06-01 14:02:15.000000,2022-06-01 14:30:21.000000,2022-06-01 14:16:09.000000,2022-06-01 14:28:30.000000],...,[2022-06-30 16:03:07.000000,2022-06-30 16:23:58.000000,2022-06-30 16:48:38.000000,2022-06-30 16:18:52.000000,2022-06-30 16:37:05.000000,...,2022-06-30 21:47:53.000000,2022-06-30 21:10:29.000000,2022-06-30 21:16:48.000000,2022-06-30 21:28:51.000000,2022-06-30 21:43:34.000000],[2022-06-30 21:50:10.000000,2022-06-30 21:38:54.000000,2022-06-30 21:37:35.000000,2022-06-30 21:14:54.000000,2022-06-30 21:49:59.000000,...,2022-06-30 23:20:49.000000,2022-06-30 23:36:13.000000,2022-06-30 23:50:50.000000,2022-06-30 23:02:40.000000,2022-06-30 23:00:28.000000]]
on_scene_datetime: [[2022-06-01 00:17:20.000000,2022-06-01 00:40:36.000000,2022-06-01 00:31:34.000000,2022-06-01 00:49:38.000000,null,...,null,2022-06-01 09:12:34.000000,null,null,null],[2022-06-01 09:15:46.000000,null,2022-06-01 09:21:35.000000,2022-06-01 09:05:21.000000,2022-06-01 09:25:11.000000,...,2022-06-01 14:34:13.000000,2022-06-01 14:10:04.000000,2022-06-01 14:35:24.000000,2022-06-01 14:18:34.000000,2022-06-01 14:29:51.000000],...,[null,null,null,2022-06-30 16:25:34.000000,2022-06-30 16:39:05.000000,...,2022-06-30 21:50:19.000000,2022-06-30 21:16:34.000000,2022-06-30 21:20:52.000000,2022-06-30 21:31:48.000000,2022-06-30 21:44:12.000000],[2022-06-30 21:54:20.000000,null,2022-06-30 21:38:44.000000,2022-06-30 21:16:41.000000,2022-06-30 21:54:09.000000,...,2022-06-30 23:24:23.000000,2022-06-30 23:39:12.000000,2022-06-30 23:55:11.000000,2022-06-30 23:04:58.000000,null]]
pickup_datetime: [[2022-06-01 00:17:41.000000,2022-06-01 00:42:37.000000,2022-06-01 00:36:22.000000,2022-06-01 00:51:18.000000,2022-06-01 00:13:33.000000,...,2022-06-01 09:30:54.000000,2022-06-01 09:12:38.000000,2022-06-01 09:04:49.000000,2022-06-01 09:20:02.000000,2022-06-01 09:44:46.000000],[2022-06-01 09:17:46.000000,2022-06-01 09:38:31.000000,2022-06-01 09:22:00.000000,2022-06-01 09:05:31.000000,2022-06-01 09:26:04.000000,...,2022-06-01 14:35:32.000000,2022-06-01 14:10:14.000000,2022-06-01 14:36:04.000000,2022-06-01 14:18:43.000000,2022-06-01 14:32:11.000000],...,[2022-06-30 16:08:46.000000,2022-06-30 16:28:06.000000,2022-06-30 16:58:02.000000,2022-06-30 16:25:42.000000,2022-06-30 16:40:48.000000,...,2022-06-30 21:51:26.000000,2022-06-30 21:17:21.000000,2022-06-30 21:22:53.000000,2022-06-30 21:32:20.000000,2022-06-30 21:45:36.000000],[2022-06-30 21:56:21.000000,2022-06-30 21:41:17.000000,2022-06-30 21:39:34.000000,2022-06-30 21:18:28.000000,2022-06-30 21:55:55.000000,...,2022-06-30 23:24:43.000000,2022-06-30 23:39:20.000000,2022-06-30 23:57:12.000000,2022-06-30 23:06:44.000000,2022-06-30 23:03:06.000000]]
dropoff_datetime: [[2022-06-01 00:25:41.000000,2022-06-01 00:56:32.000000,2022-06-01 00:45:31.000000,2022-06-01 01:11:15.000000,2022-06-01 00:17:27.000000,...,2022-06-01 09:41:04.000000,2022-06-01 09:14:46.000000,2022-06-01 09:16:44.000000,2022-06-01 09:34:10.000000,2022-06-01 10:01:02.000000],[2022-06-01 09:24:48.000000,2022-06-01 09:58:51.000000,2022-06-01 10:07:51.000000,2022-06-01 09:54:00.000000,2022-06-01 09:34:02.000000,...,2022-06-01 14:57:26.000000,2022-06-01 14:31:23.000000,2022-06-01 14:57:52.000000,2022-06-01 14:28:05.000000,2022-06-01 15:00:40.000000],...,[2022-06-30 16:19:05.000000,2022-06-30 16:45:30.000000,2022-06-30 17:25:43.000000,2022-06-30 16:36:19.000000,2022-06-30 16:48:40.000000,...,2022-06-30 21:58:39.000000,2022-06-30 21:43:31.000000,2022-06-30 21:30:31.000000,2022-06-30 21:43:01.000000,2022-06-30 21:52:27.000000],[2022-06-30 22:03:42.000000,2022-06-30 21:56:58.000000,2022-06-30 21:53:26.000000,2022-06-30 21:49:15.000000,2022-06-30 22:33:30.000000,...,2022-06-30 23:38:19.000000,2022-06-30 23:51:10.000000,2022-07-01 00:07:07.000000,2022-06-30 23:26:28.000000,2022-06-30 23:18:13.000000]]
PULocationID: [[234,161,231,87,137,...,97,23,85,72,72],[141,164,138,145,173,...,141,140,168,236,239],...,[248,208,208,107,230,...,161,68,158,158,186],[246,66,252,188,76,...,74,224,231,234,244]]
DOLocationID: [[114,151,87,225,162,...,65,23,39,72,89],[237,140,164,174,56,...,75,168,260,238,232],...,[208,208,168,230,161,...,164,37,158,164,246],[48,232,121,76,148,...,224,13,231,48,242]]
trip_miles: [[1.5,4.18,2.91,5.45,1.069,...,1.151,0.35,2.211,1.456,1.978],[0.53,2.602,8.81,13.26,1.15,...,2.69,3.81,5.77,1.57,6.96],...,[4.159,2.513,6.552,1.32,0.9,...,1.11,7.06,1.2,1.49,0.97],[0.81,2.443,6.31,5.97,13.53,...,6.07,4.9,0.53,2.85,6.207]]
...

In [11]:
import os
import psutil
def print_mem():
    gig = psutil.Process(os.getpid()).memory_info().rss / 1024 ** 3
    print(f"{gig} gigabytes")
print_mem()

3.9536590576171875 gigabytes

In [13]:
parquet_file = pq.ParquetFile('/Users/mahdi/Downloads/fhvhv_tripdata_2022-06.parquet')

In [18]:
pq_rg = parquet_file.read_row_group(0)
pq_rg

pyarrow.Table
hvfhs_license_num: string
dispatching_base_num: string
originating_base_num: string
request_datetime: timestamp[us]
on_scene_datetime: timestamp[us]
pickup_datetime: timestamp[us]
dropoff_datetime: timestamp[us]
PULocationID: int64
DOLocationID: int64
trip_miles: double
trip_time: int64
base_passenger_fare: double
tolls: double
bcf: double
sales_tax: double
congestion_surcharge: double
airport_fee: double
tips: double
driver_pay: double
shared_request_flag: string
shared_match_flag: string
access_a_ride_flag: string
wav_request_flag: string
wav_match_flag: string
----
hvfhs_license_num: [["HV0003","HV0003","HV0003","HV0003","HV0005",...,"HV0003","HV0003","HV0003","HV0003","HV0005"]]
dispatching_base_num: [["B03404","B03404","B03404","B03404","B03406",...,"B03404","B03404","B03404","B03404","B03406"]]
originating_base_num: [["B03404","B03404","B03404","B03404",null,...,"B03404","B03404","B03404","B03404",null]]
request_datetime: [[2022-06-01 00:15:35.000000,2022-06-01 00:39:04.000000,2022-06-01 00:27:53.000000,2022-06-01 00:48:15.000000,2022-06-01 00:04:51.000000,...,2022-06-30 23:20:49.000000,2022-06-30 23:36:13.000000,2022-06-30 23:50:50.000000,2022-06-30 23:02:40.000000,2022-06-30 23:00:28.000000]]
on_scene_datetime: [[2022-06-01 00:17:20.000000,2022-06-01 00:40:36.000000,2022-06-01 00:31:34.000000,2022-06-01 00:49:38.000000,null,...,2022-06-30 23:24:23.000000,2022-06-30 23:39:12.000000,2022-06-30 23:55:11.000000,2022-06-30 23:04:58.000000,null]]
pickup_datetime: [[2022-06-01 00:17:41.000000,2022-06-01 00:42:37.000000,2022-06-01 00:36:22.000000,2022-06-01 00:51:18.000000,2022-06-01 00:13:33.000000,...,2022-06-30 23:24:43.000000,2022-06-30 23:39:20.000000,2022-06-30 23:57:12.000000,2022-06-30 23:06:44.000000,2022-06-30 23:03:06.000000]]
dropoff_datetime: [[2022-06-01 00:25:41.000000,2022-06-01 00:56:32.000000,2022-06-01 00:45:31.000000,2022-06-01 01:11:15.000000,2022-06-01 00:17:27.000000,...,2022-06-30 23:38:19.000000,2022-06-30 23:51:10.000000,2022-07-01 00:07:07.000000,2022-06-30 23:26:28.000000,2022-06-30 23:18:13.000000]]
PULocationID: [[234,161,231,87,137,...,74,224,231,234,244]]
DOLocationID: [[114,151,87,225,162,...,224,13,231,48,242]]
trip_miles: [[1.5,4.18,2.91,5.45,1.069,...,6.07,4.9,0.53,2.85,6.207]]
...

In [19]:
import pandas as pd

df = pd.read_parquet('/Users/mahdi/Downloads/fhvhv_tripdata_2022-06.parquet')

In [20]:
df = df.sort_values(by=['pickup_datetime', 'DOLocationID', 'base_passenger_fare'])

In [24]:
import pyarrow as pa
import pyarrow.parquet as pq

# Convert DataFrame to PyArrow Table
table = pa.table(df)

# Write back to Parquet with optimized settings
pq.write_table(table, 'optimized_parquet_file.parquet', row_group_size=100000)

In [28]:
parquet_file = pq.ParquetFile('optimized_parquet_file.parquet')

In [29]:
num_row_groups = parquet_file.num_row_groups

for rg_index in range(num_row_groups):
    row_group = parquet_file.metadata.row_group(rg_index)
    
    num_columns = row_group.num_columns
    
    print(f"Row Group {rg_index}")
    
    for col_index in range(num_columns):
        col = row_group.column(col_index)
        
        min_value = col.statistics.min
        max_value = col.statistics.max
        
        print(f"  Column {col_index}: Min = {min_value}, Max = {max_value}")

Row Group 0
  Column 0: Min = HV0003, Max = HV0005
  Column 1: Min = B02395, Max = B03406
  Column 2: Min = B02026, Max = B03406
  Column 3: Min = 2022-05-31 16:17:22, Max = 2022-06-01 08:40:00
  Column 4: Min = 2022-05-31 22:44:16, Max = 2022-06-01 08:20:27
  Column 5: Min = 2022-06-01 00:00:00, Max = 2022-06-01 08:20:29
  Column 6: Min = 2022-06-01 00:02:31, Max = 2022-06-01 14:52:19
  Column 7: Min = 3, Max = 265
  Column 8: Min = 1, Max = 265
  Column 9: Min = -0.0, Max = 187.168
  Column 10: Min = 1, Max = 26106
  Column 11: Min = -31.83, Max = 501.42
  Column 12: Min = -0.0, Max = 65.98
  Column 13: Min = -0.0, Max = 15.95
  Column 14: Min = -0.0, Max = 37.76
  Column 15: Min = -0.0, Max = 5.5
  Column 16: Min = -0.0, Max = 5.0
  Column 17: Min = -0.0, Max = 75.0
  Column 18: Min = -0.0, Max = 364.28
  Column 19: Min = N, Max = N
  Column 20: Min = N, Max = Y
  Column 21: Min =  , Max = N
  Column 22: Min = N, Max = Y
  Column 23: Min = N, Max = Y
  Column 24: Min = 0, Max = 121317
Row Group 1
  Column 0: Min = HV0003, Max = HV0005
  Column 1: Min = B02682, Max = B03406
  Column 2: Min = B02026, Max = B03406
  Column 3: Min = 2022-06-01 07:45:17, Max = 2022-06-01 12:16:00
  Column 4: Min = 2022-06-01 06:49:57, Max = 2022-06-01 12:06:33
  Column 5: Min = 2022-06-01 08:20:29, Max = 2022-06-01 12:06:38
  Column 6: Min = 2022-06-01 08:22:46, Max = 2022-06-01 19:16:00
  Column 7: Min = 3, Max = 265
  Column 8: Min = 1, Max = 265
  Column 9: Min = -0.0, Max = 155.117
  Column 10: Min = 14, Max = 26758
  Column 11: Min = -21.78, Max = 486.3
  Column 12: Min = -0.0, Max = 61.72
  Column 13: Min = -0.0, Max = 14.79
  Column 14: Min = -0.0, Max = 36.28
  Column 15: Min = -0.0, Max = 2.75
  Column 16: Min = -0.0, Max = 5.0
  Column 17: Min = -0.0, Max = 100.0
  Column 18: Min = -0.0, Max = 342.38
  Column 19: Min = N, Max = N
  Column 20: Min = N, Max = Y
  Column 21: Min =  , Max = N
  Column 22: Min = N, Max = Y
  Column 23: Min = N, Max = Y
  Column 24: Min = 88883, Max = 220643
Row Group 2
  Column 0: Min = HV0003, Max = HV0005
  Column 1: Min = B02512, Max = B03406
  Column 2: Min = B02026, Max = B03406
  Column 3: Min = 2022-06-01 11:43:25, Max = 2022-06-01 16:15:00
  Column 4: Min = 2022-06-01 11:38:08, Max = 2022-06-01 16:02:04
  Column 5: Min = 2022-06-01 12:06:39, Max = 2022-06-01 16:02:04
  Column 6: Min = 2022-06-01 12:08:19, Max = 2022-06-02 00:07:34
  Column 7: Min = 3, Max = 265
  Column 8: Min = 1, Max = 265
  Column 9: Min = -0.0, Max = 206.203
  Column 10: Min = 46, Max = 34494
  Column 11: Min = -105.57, Max = 618.38
  Column 12: Min = -0.0, Max = 60.0
  Column 13: Min = -0.0, Max = 21.6
  Column 14: Min = -0.0, Max = 63.89
  Column 15: Min = -0.0, Max = 2.75
  Column 16: Min = -0.0, Max = 6.9
  Column 17: Min = -0.0, Max = 90.0
  Column 18: Min = -0.0, Max = 517.59
  Column 19: Min = N, Max = N
  Column 20: Min = N, Max = N
  Column 21: Min =  , Max = N
  Column 22: Min = N, Max = Y
  Column 23: Min = N, Max = Y
  Column 24: Min = 197391, Max = 328006
Row Group 3
  Column 0: Min = HV0003, Max = HV0005
  Column 1: Min = B02512, Max = B03406
  Column 2: Min = B02026, Max = B03406
  Column 3: Min = 2022-06-01 15:18:25, Max = 2022-06-01 19:15:00
  Column 4: Min = 2022-06-01 15:22:21, Max = 2022-06-01 19:02:14
  Column 5: Min = 2022-06-01 16:02:05, Max = 2022-06-01 19:02:16
  Column 6: Min = 2022-06-01 16:04:20, Max = 2022-06-02 00:49:59
  Column 7: Min = 3, Max = 265
  Column 8: Min = 1, Max = 265
  Column 9: Min = -0.0, Max = 147.14
  Column 10: Min = 1, Max = 24596
  Column 11: Min = -29.52, Max = 737.42
  Column 12: Min = -0.0, Max = 60.0
  Column 13: Min = -0.0, Max = 22.32
  Column 14: Min = -0.0, Max = 66.03
  Column 15: Min = -0.0, Max = 2.75
  Column 16: Min = -0.0, Max = 5.0
  Column 17: Min = -0.0, Max = 80.0
  Column 18: Min = -29.83, Max = 485.48
  Column 19: Min = N, Max = N
  Column 20: Min = N, Max = Y
  Column 21: Min =  , Max = N
  Column 22: Min = N, Max = Y
  Column 23: Min = N, Max = Y
  Column 24: Min = 299028, Max = 432117
Row Group 4
  Column 0: Min = HV0003, Max = HV0005
  Column 1: Min = B02512, Max = B03406
  Column 2: Min = B02512, Max = B03406
  Column 3: Min = 2022-06-01 18:20:00, Max = 2022-06-01 21:55:00
  Column 4: Min = 2022-06-01 17:07:03, Max = 2022-06-01 21:45:52
  Column 5: Min = 2022-06-01 19:02:16, Max = 2022-06-01 21:45:53
  Column 6: Min = 2022-06-01 19:05:33, Max = 2022-06-02 00:02:45
  Column 7: Min = 3, Max = 265
  Column 8: Min = 1, Max = 265
  Column 9: Min = -0.0, Max = 207.48
  Column 10: Min = 1, Max = 13997
  Column 11: Min = -51.64, Max = 765.99
  Column 12: Min = -0.0, Max = 63.79
  Column 13: Min = -0.0, Max = 23.45
  Column 14: Min = -0.0, Max = 61.37
  Column 15: Min = -0.0, Max = 2.75
  Column 16: Min = -0.0, Max = 5.0
  Column 17: Min = -0.0, Max = 85.0
  Column 18: Min = -8.76, Max = 559.11
  Column 19: Min = N, Max = N
  Column 20: Min = N, Max = Y
  Column 21: Min =  , Max = N
  Column 22: Min = N, Max = Y
  Column 23: Min = N, Max = Y
  Column 24: Min = 398743, Max = 507676
Row Group 5
  Column 0: Min = HV0003, Max = HV0005
  Column 1: Min = B02395, Max = B03406
  Column 2: Min = B02395, Max = B03406
  Column 3: Min = 2022-06-01 20:30:00, Max = 2022-06-02 03:00:55
  Column 4: Min = 2022-06-01 19:32:07, Max = 2022-06-02 02:53:51
  Column 5: Min = 2022-06-01 21:45:53, Max = 2022-06-02 02:54:12
  Column 6: Min = 2022-06-01 21:49:18, Max = 2022-06-02 04:02:48
  Column 7: Min = 3, Max = 265
  Column 8: Min = 1, Max = 265
  Column 9: Min = -0.0, Max = 314.16
  Column 10: Min = 6, Max = 18993
  Column 11: Min = -29.54, Max = 809.61
  Column 12: Min = -0.0, Max = 53.1
  Column 13: Min = -0.0, Max = 24.73
  Column 14: Min = -0.0, Max = 47.79
  Column 15: Min = -0.0, Max = 2.75
  Column 16: Min = -0.0, Max = 5.0
  Column 17: Min = -0.0, Max = 92.19
  Column 18: Min = -0.0, Max = 608.07
  Column 19: Min = N, Max = N
  Column 20: Min = N, Max = Y
  Column 21: Min =  , Max = N
  Column 22: Min = N, Max = Y
  Column 23: Min = N, Max = Y
  Column 24: Min = 473528, Max = 600492
Row Group 6
  Column 0: Min = HV0003, Max = HV0005
  Column 1: Min = B02764, Max = B03406
  Column 2: Min = B02764, Max = B03406
  Column 3: Min = 2022-06-02 02:08:50, Max = 2022-06-02 09:21:00
  Column 4: Min = 2022-06-02 02:35:39, Max = 2022-06-02 09:02:49
  Column 5: Min = 2022-06-02 02:54:13, Max = 2022-06-02 09:02:54
  Column 6: Min = 2022-06-02 02:58:12, Max = 2022-06-02 12:37:02
  Column 7: Min = 3, Max = 265
  Column 8: Min = 1, Max = 265
  Column 9: Min = -0.0, Max = 278.64
  Column 10: Min = 1, Max = 19224
  Column 11: Min = -43.42, Max = 829.41
  Column 12: Min = -0.0, Max = 67.42
  Column 13: Min = -0.0, Max = 24.68
  Column 14: Min = -0.0, Max = 68.01
  Column 15: Min = -0.0, Max = 2.75
  Column 16: Min = -0.0, Max = 5.0
  Column 17: Min = -0.0, Max = 84.7
  Column 18: Min = -0.0, Max = 582.78
  Column 19: Min = N, Max = N
  Column 20: Min = N, Max = Y
  Column 21: Min =  , Max = N
  Column 22: Min = N, Max = Y
  Column 23: Min = N, Max = Y
  Column 24: Min = 594467, Max = 728235
Row Group 7
  Column 0: Min = HV0003, Max = HV0005
  Column 1: Min = B02682, Max = B03406
  Column 2: Min = B02026, Max = B03406
  Column 3: Min = 2022-06-02 08:29:02, Max = 2022-06-02 13:10:00
  Column 4: Min = 2022-06-02 08:30:20, Max = 2022-06-02 12:53:42
  Column 5: Min = 2022-06-02 09:02:55, Max = 2022-06-02 12:53:53
  Column 6: Min = 2022-06-02 09:05:54, Max = 2022-06-02 21:08:48
  Column 7: Min = 2, Max = 265
  Column 8: Min = 1, Max = 265
  Column 9: Min = -0.0, Max = 216.04
  Column 10: Min = 1, Max = 34729
  Column 11: Min = -29.67, Max = 857.23
  Column 12: Min = -0.0, Max = 60.0
  Column 13: Min = -0.0, Max = 25.96
  Column 14: Min = -0.0, Max = 71.5
  Column 15: Min = -0.0, Max = 2.75
  Column 16: Min = -0.0, Max = 5.0
  Column 17: Min = -0.0, Max = 75.0
  Column 18: Min = -0.0, Max = 595.87
  Column 19: Min = N, Max = N
  Column 20: Min = N, Max = Y
  Column 21: Min =  , Max = N
  Column 22: Min = N, Max = Y
  Column 23: Min = N, Max = Y
  Column 24: Min = 698397, Max = 802417
Row Group 8
  Column 0: Min = HV0003, Max = HV0005
  Column 1: Min = B02512, Max = B03406
  Column 2: Min = B02026, Max = B03406
  Column 3: Min = 2022-06-02 12:23:39, Max = 2022-06-02 16:35:00
  Column 4: Min = 2022-06-02 12:30:17, Max = 2022-06-02 16:25:48
  Column 5: Min = 2022-06-02 12:53:53, Max = 2022-06-02 16:25:48
  Column 6: Min = 2022-06-02 12:55:38, Max = 2022-06-02 23:19:38
  Column 7: Min = 3, Max = 265
  Column 8: Min = 1, Max = 265
  Column 9: Min = -0.0, Max = 207.069
  Column 10: Min = 1, Max = 33378
  Column 11: Min = -42.53, Max = 493.31
  Column 12: Min = -0.0, Max = 77.48
  Column 13: Min = -0.0, Max = 14.89
  Column 14: Min = -0.0, Max = 41.51
  Column 15: Min = -0.0, Max = 2.75
  Column 16: Min = -0.0, Max = 5.0
  Column 17: Min = -0.0, Max = 95.96
  Column 18: Min = -0.0, Max = 550.77
  Column 19: Min = N, Max = N
  Column 20: Min = N, Max = Y
  Column 21: Min =  , Max = N
  Column 22: Min = N, Max = Y
  Column 23: Min = N, Max = Y
  Column 24: Min = 778089, Max = 920966
Row Group 9
  Column 0: Min = HV0003, Max = HV0005
  Column 1: Min = B02512, Max = B03406
  Column 2: Min = B02512, Max = B03406
  Column 3: Min = 2022-06-02 15:48:37, Max = 2022-06-02 19:20:00
  Column 4: Min = 2022-06-02 16:14:35, Max = 2022-06-02 19:04:23
  Column 5: Min = 2022-06-02 16:25:48, Max = 2022-06-02 19:04:29
  Column 6: Min = 2022-06-02 16:28:00, Max = 2022-06-02 21:31:11
  Column 7: Min = 3, Max = 265
  Column 8: Min = 1, Max = 265
  Column 9: Min = -0.0, Max = 127.25
  Column 10: Min = 1, Max = 11505
  Column 11: Min = -20.59, Max = 477.13
  Column 12: Min = -0.0, Max = 54.7
  Column 13: Min = -0.0, Max = 14.82
  Column 14: Min = -0.0, Max = 43.15
  Column 15: Min = -0.0, Max = 2.75
  Column 16: Min = -0.0, Max = 5.0
  Column 17: Min = -0.0, Max = 84.69
  Column 18: Min = -0.0, Max = 325.66
  Column 19: Min = N, Max = N
  Column 20: Min = N, Max = Y
  Column 21: Min =  , Max = N
  Column 22: Min = N, Max = Y
  Column 23: Min = N, Max = Y
  Column 24: Min = 886598, Max = 1029053
Row Group 10
  Column 0: Min = HV0003, Max = HV0005
  Column 1: Min = B02512, Max = B03406
  Column 2: Min = B02512, Max = B03406
  Column 3: Min = 2022-06-02 18:27:04, Max = 2022-06-02 22:25:00
  Column 4: Min = 2022-06-02 18:25:32, Max = 2022-06-02 22:15:42
  Column 5: Min = 2022-06-02 19:04:30, Max = 2022-06-02 22:15:43
  Column 6: Min = 2022-06-02 19:05:13, Max = 2022-06-03 00:41:00
  Column 7: Min = 3, Max = 265
  Column 8: Min = 1, Max = 265
  Column 9: Min = -0.0, Max = 160.03
  Column 10: Min = 1, Max = 14216
  Column 11: Min = -34.14, Max = 520.73
  Column 12: Min = -0.0, Max = 67.41
  Column 13: Min = -0.0, Max = 15.98
  Column 14: Min = -0.0, Max = 46.21
  Column 15: Min = -0.0, Max = 2.75
  Column 16: Min = -0.0, Max = 5.0
  Column 17: Min = -0.0, Max = 90.0
  Column 18: Min = -0.0, Max = 395.0
  Column 19: Min = N, Max = N
  Column 20: Min = N, Max = Y
  Column 21: Min =  , Max = N
  Column 22: Min = N, Max = Y
  Column 23: Min = N, Max = Y
  Column 24: Min = 997347, Max = 1123849
Row Group 11
  Column 0: Min = HV0003, Max = HV0005
  Column 1: Min = B02764, Max = B03406
  Column 2: Min = B02764, Max = B03406
  Column 3: Min = 2022-06-02 21:23:00, Max = 2022-06-03 03:30:00
  Column 4: Min = 2022-06-02 21:13:55, Max = 2022-06-03 03:22:08
  Column 5: Min = 2022-06-02 22:15:43, Max = 2022-06-03 03:22:18
  Column 6: Min = 2022-06-02 22:17:56, Max = 2022-06-03 05:03:45
  Column 7: Min = 3, Max = 265
  Column 8: Min = 1, Max = 265
  Column 9: Min = -0.0, Max = 215.65
  Column 10: Min = 8, Max = 14030
  Column 11: Min = -30.85, Max = 808.69
  Column 12: Min = -0.0, Max = 65.98
  Column 13: Min = -0.0, Max = 24.74
  Column 14: Min = -0.0, Max = 37.85
  Column 15: Min = -0.0, Max = 2.75
  Column 16: Min = -0.0, Max = 5.0
  Column 17: Min = -0.0, Max = 75.0
  Column 18: Min = -23.86, Max = 513.82
  Column 19: Min = N, Max = N
  Column 20: Min = N, Max = Y
  Column 21: Min =  , Max = N
  Column 22: Min = N, Max = Y
  Column 23: Min = N, Max = Y
  Column 24: Min = 1091192, Max = 1204122
Row Group 12
  Column 0: Min = HV0003, Max = HV0005
  Column 1: Min = B02764, Max = B03406
  Column 2: Min = B02764, Max = B03406
  Column 3: Min = 2022-06-03 02:58:00, Max = 2022-06-03 09:20:00
  Column 4: Min = 2022-06-03 02:45:31, Max = 2022-06-03 09:03:15
  Column 5: Min = 2022-06-03 03:22:18, Max = 2022-06-03 09:03:20
  Column 6: Min = 2022-06-03 03:24:56, Max = 2022-06-03 12:33:54
  Column 7: Min = 3, Max = 265
  Column 8: Min = 1, Max = 265
  Column 9: Min = -0.0, Max = 220.19
  Column 10: Min = 7, Max = 16566
  Column 11: Min = -30.4, Max = 673.07
  Column 12: Min = -0.0, Max = 56.67
  Column 13: Min = -0.0, Max = 20.5
  Column 14: Min = -0.0, Max = 36.49
  Column 15: Min = -0.0, Max = 2.75
  Column 16: Min = -0.0, Max = 5.0
  Column 17: Min = -0.0, Max = 74.66
  Column 18: Min = -24.46, Max = 526.51
  Column 19: Min = N, Max = N
  Column 20: Min = N, Max = Y
  Column 21: Min =  , Max = N
  Column 22: Min = N, Max = Y
  Column 23: Min = N, Max = Y
  Column 24: Min = 1197370, Max = 1326689
Row Group 13
  Column 0: Min = HV0003, Max = HV0005
  Column 1: Min = B02682, Max = B03406
  Column 2: Min = B02026, Max = B03406
  Column 3: Min = 2022-06-03 08:38:29, Max = 2022-06-03 13:10:00
  Column 4: Min = 2022-06-03 07:38:01, Max = 2022-06-03 12:52:09
  Column 5: Min = 2022-06-03 09:03:20, Max = 2022-06-03 12:52:14
  Column 6: Min = 2022-06-03 09:06:04, Max = 2022-06-03 20:00:22
  Column 7: Min = 3, Max = 265
  Column 8: Min = 1, Max = 265
  Column 9: Min = -0.0, Max = 159.2
  Column 10: Min = 1, Max = 31837
  Column 11: Min = -26.54, Max = 613.72
  Column 12: Min = -0.0, Max = 47.4
  Column 13: Min = -0.0, Max = 19.64
  Column 14: Min = -0.0, Max = 46.67
  Column 15: Min = -0.0, Max = 2.75
  Column 16: Min = -0.0, Max = 5.0
  Column 17: Min = -0.0, Max = 75.0
  Column 18: Min = -0.0, Max = 462.38
  Column 19: Min = N, Max = N
  Column 20: Min = N, Max = N
  Column 21: Min =  , Max = N
  Column 22: Min = N, Max = Y
  Column 23: Min = N, Max = Y
  Column 24: Min = 1298254, Max = 1403207
Row Group 14
  Column 0: Min = HV0003, Max = HV0005
  Column 1: Min = B02512, Max = B03406
  Column 2: Min = B02026, Max = B03406
  Column 3: Min = 2022-06-03 12:23:17, Max = 2022-06-03 16:35:22
  Column 4: Min = 2022-06-03 12:12:22, Max = 2022-06-03 16:19:48
  Column 5: Min = 2022-06-03 12:52:15, Max = 2022-06-03 16:19:49
  Column 6: Min = 2022-06-03 12:54:21, Max = 2022-06-03 23:15:32
  Column 7: Min = 2, Max = 265
  Column 8: Min = 1, Max = 265
  Column 9: Min = -0.0, Max = 179.525
  Column 10: Min = 1, Max = 31239
  Column 11: Min = -35.99, Max = 628.79
  Column 12: Min = -0.0, Max = 60.0
  Column 13: Min = -0.0, Max = 19.82
  Column 14: Min = -0.0, Max = 44.07
  Column 15: Min = -0.0, Max = 2.75
  Column 16: Min = -0.0, Max = 5.0
  Column 17: Min = -0.0, Max = 92.29
  Column 18: Min = -0.0, Max = 448.58
  Column 19: Min = N, Max = N
  Column 20: Min = N, Max = Y
  Column 21: Min =  , Max = N
  Column 22: Min = N, Max = Y
  Column 23: Min = N, Max = Y
  Column 24: Min = 1377487, Max = 1521002
Row Group 15
  Column 0: Min = HV0003, Max = HV0005
  Column 1: Min = B02395, Max = B03406
  Column 2: Min = B02395, Max = B03406
  Column 3: Min = 2022-06-03 14:56:00, Max = 2022-06-03 19:25:00
  Column 4: Min = 2022-06-03 15:11:08, Max = 2022-06-03 19:07:00
  Column 5: Min = 2022-06-03 16:19:49, Max = 2022-06-03 19:07:06
  Column 6: Min = 2022-06-03 16:22:58, Max = 2022-06-03 23:07:05
  Column 7: Min = 3, Max = 265
  Column 8: Min = 1, Max = 265
  Column 9: Min = -0.0, Max = 215.98
  Column 10: Min = 9, Max = 17509
  Column 11: Min = -21.99, Max = 819.17
  Column 12: Min = -0.0, Max = 49.9
  Column 13: Min = -0.0, Max = 25.03
  Column 14: Min = -0.0, Max = 40.12
  Column 15: Min = -0.0, Max = 2.75
  Column 16: Min = -0.0, Max = 5.0
  Column 17: Min = -0.0, Max = 85.92
  Column 18: Min = -0.0, Max = 617.93
  Column 19: Min = N, Max = N
  Column 20: Min = N, Max = Y
  Column 21: Min =  , Max = N
  Column 22: Min = N, Max = Y
  Column 23: Min = N, Max = Y
  Column 24: Min = 1489666, Max = 1634271
Row Group 16
  Column 0: Min = HV0003, Max = HV0005
  Column 1: Min = B02512, Max = B03406
  Column 2: Min = B02512, Max = B03406
  Column 3: Min = 2022-06-03 18:11:35, Max = 2022-06-03 22:00:00
  Column 4: Min = 2022-06-03 18:12:46, Max = 2022-06-03 21:53:42
  Column 5: Min = 2022-06-03 19:07:06, Max = 2022-06-03 21:53:43
  Column 6: Min = 2022-06-03 19:09:29, Max = 2022-06-04 01:13:00
  Column 7: Min = 2, Max = 265
  Column 8: Min = 1, Max = 265
  Column 9: Min = -0.0, Max = 237.61
  Column 10: Min = 25, Max = 17358
  Column 11: Min = -24.32, Max = 646.48
  Column 12: Min = -0.0, Max = 58.66
  Column 13: Min = -0.0, Max = 19.41
  Column 14: Min = -0.0, Max = 34.08
  Column 15: Min = -0.0, Max = 2.75
  Column 16: Min = -0.0, Max = 5.0
  Column 17: Min = -0.0, Max = 85.73
  Column 18: Min = -0.0, Max = 503.92
  Column 19: Min = N, Max = N
  Column 20: Min = N, Max = N
  Column 21: Min =  , Max = N
  Column 22: Min = N, Max = Y
  Column 23: Min = N, Max = Y
  Column 24: Min = 1595323, Max = 1703728
Row Group 17
  Column 0: Min = HV0003, Max = HV0005
  Column 1: Min = B02764, Max = B03406
  Column 2: Min = B02764, Max = B03406
  Column 3: Min = 2022-06-03 21:12:00, Max = 2022-06-04 00:35:00
  Column 4: Min = 2022-06-03 21:20:13, Max = 2022-06-04 00:26:13
  Column 5: Min = 2022-06-03 21:53:43, Max = 2022-06-04 00:26:16
  Column 6: Min = 2022-06-03 21:56:08, Max = 2022-06-04 02:51:41
  Column 7: Min = 3, Max = 265
  Column 8: Min = 1, Max = 265
  Column 9: Min = -0.0, Max = 242.81
  Column 10: Min = 12, Max = 15310
  Column 11: Min = -73.35, Max = 893.58
  Column 12: Min = -0.0, Max = 51.6
  Column 13: Min = -0.0, Max = 27.44
  Column 14: Min = -0.0, Max = 33.96
  Column 15: Min = -0.0, Max = 2.75
  Column 16: Min = -0.0, Max = 5.0
  Column 17: Min = -0.0, Max = 75.7
  Column 18: Min = -0.0, Max = 493.76
  Column 19: Min = N, Max = N
  Column 20: Min = N, Max = Y
  Column 21: Min =  , Max = N
  Column 22: Min = N, Max = Y
  Column 23: Min = N, Max = Y
  Column 24: Min = 1668757, Max = 1818865
Row Group 18
  Column 0: Min = HV0003, Max = HV0005
  Column 1: Min = B02395, Max = B03406
  Column 2: Min = B02395, Max = B03406
  Column 3: Min = 2022-06-03 23:54:55, Max = 2022-06-04 05:25:00
  Column 4: Min = 2022-06-04 00:14:06, Max = 2022-06-04 05:10:57
  Column 5: Min = 2022-06-04 00:26:16, Max = 2022-06-04 05:11:00
  Column 6: Min = 2022-06-04 00:28:32, Max = 2022-06-04 06:48:23
  Column 7: Min = 3, Max = 265
  Column 8: Min = 1, Max = 265
  Column 9: Min = -0.0, Max = 255.37
  Column 10: Min = 8, Max = 15239
  Column 11: Min = -59.78, Max = 657.73
  Column 12: Min = -0.0, Max = 96.97
  Column 13: Min = -0.0, Max = 21.48
  Column 14: Min = -0.0, Max = 30.43
  Column 15: Min = -0.0, Max = 2.75
  Column 16: Min = -0.0, Max = 5.0
  Column 17: Min = -0.0, Max = 82.47
  Column 18: Min = -8.65, Max = 493.3
  Column 19: Min = N, Max = N
  Column 20: Min = N, Max = Y
  Column 21: Min =  , Max = N
  Column 22: Min = N, Max = Y
  Column 23: Min = N, Max = Y
  Column 24: Min = 1783544, Max = 1908310
Row Group 19
  Column 0: Min = HV0003, Max = HV0005
  Column 1: Min = B02395, Max = B03406
  Column 2: Min = B02395, Max = B03406
  Column 3: Min = 2022-06-04 03:24:02, Max = 2022-06-04 11:05:00
  Column 4: Min = 2022-06-04 04:43:26, Max = 2022-06-04 10:52:57
  Column 5: Min = 2022-06-04 05:11:01, Max = 2022-06-04 10:53:00
  Column 6: Min = 2022-06-04 05:13:43, Max = 2022-06-04 13:26:43
  Column 7: Min = 3, Max = 265
  Column 8: Min = 1, Max = 265
  Column 9: Min = -0.0, Max = 172.421
  Column 10: Min = 6, Max = 11115
  Column 11: Min = -33.23, Max = 541.72
  Column 12: Min = -0.0, Max = 126.29
  Column 13: Min = -0.0, Max = 16.5
  Column 14: Min = -0.0, Max = 44.47
  Column 15: Min = -0.0, Max = 2.75
  Column 16: Min = -0.0, Max = 6.9
  Column 17: Min = -0.0, Max = 80.0